<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Gonverter</title>
    <link rel="stylesheet" href="/static/css.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.js"></script>
    <script src="/static/javascript.js"></script>
</head>
<body ng-app="gonverter">
    <header>
        <div class="logo">
            <img width="100%" src="/static/logo.png" alt="audio-gonverter">
        </div>
    </header>
    <div class="container" ng-controller="GonverterController as c">
        <main>
            <section>
                <p>{{c.message}}</p>
            </section>
            <hr />
            <section>
                <h1>Upload audio files</h1>
                <form action="">
                    <input type="file" name="files" id="files">
                    <input type="button" value="Upload" ng-click="c.upload()">
                </form>
            </section>
            <hr />
            <section>
                <h1>Convertion options</h1>
                <form action="">
                    <select name="" id="">
                        <option value="">Format</option>
                    </select>

                    <select name="" id="">
                        <option value="">Kbps</option>
                    </select>

                    <input type="button" value="Convert">
                </form>
            </section>
            <hr />
            <section>
                <h1>Your files ({{c.files.length}}/10)</h1>
                <table>
                    <thead>
                        <th>Original file</th>
                        <th>Converted file</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="file in c.files">
                            <td>{{file.original}}</td>
                            <td>{{file.converted}}</td>
                            <td>{{file.status}}</td>
                            <td><a href="{{file.download}}">Download</a> | Delete</td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </main>
        <hr />
        <footer>
            <p><a href="https://github.com/nu12/audio-gonverter">audio-gonverter</a></p>
            <p>Build: << .Commit >></p>
        </footer>
    </div>
</body>

</html>