{{template "base" .}}

{{define "content" }}
<main>
    <section>
        <p>{{ index .Messages 0 }}</p>
    </section>
</main>

{{end}}

{{define "js" }}

<script>
setTimeout(function(){
    location.reload()
}, 2000);
</script>

{{end}}