body{
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,220,220,1) 40%, rgba(255,0,0,1) 80%);
    background-repeat: no-repeat;
    min-height: 100vh;
    
}
header{
    width: 100%;
}
header div.logo{
    width: 1000px;
    margin: 0 auto;
}
.container{
    width: 1200px;
    background-color: white;
    margin: 0 auto;
    text-align: center;
}
table{
    width: 100%;
}

footer{
    text-align: center;
}

p.message-alert{
    color: red;
}
p.message-success{
    color: green;
}

button a{
    text-decoration: none;
    color: inherit;
}